body {
  padding: 0;
  margin: 0;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(194, 194, 194, 0.212);
}

.top,
.middle,
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.sidebar > .top {
  flex: 1;
  justify-content: center;
}

.sidebar > .middle {
  flex: 3;
}

.sidebar > .bottom {
  flex: 1;
  justify-content: center;
}

.content {
  padding: 25px 200px;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
}

.left,
.right {
  display: flex;
  align-items: center;
  height: 5rem;
  column-gap: 10px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.con-middle {
  display: flex;
  flex-direction: column;
}

.side-img {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
}

.side-img:hover {
  background-color: rgba(187, 187, 187, 0.795);
}

.side-active {
  background-color: #acd1efc7;
}

.cont-img {
  height: 30%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(201, 201, 201, 0.712);
}

.goal-img {
  width: 100%;
  height: 300px;
  border-radius: 30px;
}

h1 {
  font-family: TYPOGRAPHY;
}
